#marioBackground {
  height: 900px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

img {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 850px;
}
.active {
  display: block;
  bottom: 150px;
}
.activeLeft {
  bottom: 150px;
  display: block;
  transform: rotateY(180deg);
}