.navBar {
    width: 100%;
    padding: 0px;
    color: white;
    background-color: rgb(41, 41, 41);
}

.pageCounter {
    width: 30%;
    margin: auto;
    height: 20px;
}

.pageSelect:hover {
    background-color: green;
}