.firstSection{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}
.secSection{
    display: flex;
    background-color: aqua;
    justify-content: space-evenly;
}
header{
    width: 35%;
    font-size: 90px;
    margin: auto;
    color: white;
    background-color: black;
    text-align: center;
}
span{
    color: red;
}